<header id="header">
				<h1 id="logo"><a href="/">SMOKE <span>CEASE</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
                        <li><a href="/about.html">About</a></li>
						<li class="submenu">
							<a href="">Layouts</a>
							<ul>
								<li><a href="/why-quit.html">Why Quit</a></li>
								<li><a href="#">Having Trouble Quiting</a></li>
								<li><a href="/quit-plan.html">How To Quit</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Resources</a>
									<ul>
										<li><a href="/quiting-videos.html">Quiting Videos</a></li>
										<li><a href="#">Articles</a></li>
										<li><a href="#">Posters and Flyers</a></li>

									</ul>
								</li>
							</ul>
						</li>
						<li><a href="quit-plan.html" class="button special">Create Your Quit Plan</a></li>
					</ul>
				</nav>
			</header>
